//------------------Grid layout ---------------------

.grid_container {
  position: relative;
  display: grid;
  max-width: 120rem;
  margin: 0 auto;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
    &__btn {
    position: fixed;
    width: 4.4rem;
    height: 3.5rem;
    top: 0;
    margin: 0.4rem 0 0 0.4rem;
    cursor: pointer;
    z-index: 26;
    &--burger {
      position: absolute;
      background-color: $borderColor;
      border-radius: 1rem;
      width: 4rem;
      height: 0.6rem;
      z-index: 11;
      &::before {
        content: "";
        display: block;
        position: absolute;
        background-color: $borderColor;
        border-radius: 1rem;
        width: 4rem;
        height: 0.6rem;
        top: 1rem;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: $borderColor;
        border-radius: 1rem;
        width: 4rem;
        height: 0.6rem;
        top: 2rem;
      }
    }
  }
}